html, body {
    height: 95%;
    margin: 10;
  }

  body {
    background-color: rgb(74, 101, 119);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    border: 1px solid white;
  }

  @media (max-width: 1000px) {
    body {
        align-items: normal;
        height: 90%;
    }
  }