* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: rgb(86, 111, 128);
}

header {
  background-color: rgb(27, 59, 66);
  display: block;
  color: rgb(233, 203, 148);
  padding: .1rem;
  text-align: center;
  font-family: fantasy;
  font-size: 1.1em; 
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li a {
  color: rgb(236, 223, 199);
  text-decoration: none;
  font-size: .7em
}

h3 {
  text-decoration: underline;
}

footer {
  background-color: rgb(27, 59, 66);
  color: rgb(233, 203, 148);
  text-align: center;
  padding: .4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: fantasy;
}

video {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  header {
      font-size: .8em; /* Adjust header font size for smaller screens */
      width: 100%;
  }

  nav ul li {
    margin-right: 15px;
    width: 100%;
  }

  main, h2, h3 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  video {
    height: 145px;
  }

  footer {
    font-size: .6em;
  }
}

iframe {
  max-width: 100%;
}







/*This is for the Header block */
.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: rgb(27, 59, 66);
}

/*This is for the Header block */
.inner_header {
  width: 60%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: rgb(38, 74, 82);
}

/*This is for the Header block */
.logo {
  height: 100%;
  display: table;
  float: left;
}

/*This is for the Header block */
.logo h1 {
  color: rgb(233, 203, 148);
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: fantasy;
  font-size: 42px;
  font-weight: bolder;
}

/*This is for the Header block */
.logo h1 span {
  font-weight: 1;
  color: rgb(131, 124, 124);
}

/**/
.navigation {
  float: right;
  height: 100%;
}

/**/
.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 42px;
}

/**/
.navigation a:last-child {
  padding-right: 0px;
}

/**/
.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: aliceblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 10%;
  text-align: center;
}

.wrapper2 {
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: auto;
}